
<mat-form-field class="user-full-width">
  <mat-label>Classe</mat-label>

  <mat-select [(value)]="classe" (selectionChange)="onClasseChange($event)"  >
    <mat-option value="SN1">SN1</mat-option>
    <mat-option value="SN2">SN2</mat-option>
    <mat-option value="B3">B3</mat-option>
    <mat-option value="I4">I4</mat-option>
    <mat-option value="I5">I5</mat-option>
  </mat-select>
</mat-form-field>

